#add-effect {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.plus-sign {
  margin-left: -3px;
}

.li-flex {
  display: flex;
}

.delete-cross {
  padding-top: 5px;
  padding-left: 8px;
  font-size: 12px;
  color: rgb(121, 0, 0);
  cursor: pointer;
  display: none;
}

.li-flex:hover .delete-cross {
  display: block;
}

.effect-list {
  width: 200px;
  background-color: blanchedalmond;
  list-style: none;
}
